# **Tech challenge 03**

A terceira fase do curso de data analytics apresenta um foco em big query. Dessa forma, visando consolidar os conhecimentos adquiridos nessa fase, iremos **focar em trabalhar com o spark sql**

In [21]:
!pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.12/dist-packages (3.5.1)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.12/dist-packages (from pyspark) (0.10.9.7)

In [22]:
from pyspark.sql import SparkSession

# Criando sess√£o Spark
spark = SparkSession.builder.appName("CSV_Colab").getOrCreate()

In [23]:
# Se o arquivo estiver em /content
df_set = spark.read.csv("/content/PNAD_COVID_092020.csv", header=True, sep =',')
df_out = spark.read.csv("/content/PNAD_COVID_102020.csv", header=True, sep =',')
df_nov = spark.read.csv("/content/PNAD_COVID_112020.csv", header=True, sep =',')

# Ver os primeiros registros
df_nov.show(5)

+----+---+-------+-------+-----+-----+-----+-----+-------+---------+-----+-----+------+------------+------------+------+----+-----+------+------+------+----+----+----+----+----+-----+-----+----+-----+----+----+-----+-----+-----+-----+-----+-----+-----+-----+-----+------+------+------+------+----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+----+----+----+----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+----+----+----+----+----+----+-----+-----+-----+----+----+-----+-----+-----+-----+-----+------+------+-----+----+----+-----+----+-----+------+--------+-----+------+------+-----+-----+-----+------+-------+--------+------+-------+-------+----+----+----+----+----+-----+-----+-----+-----+-----+-----+-----+-----+--------+-----+--------+-----+-----+-----+-----+----+-----+-----+-----+-----+----+-----+-----+------+------+------+------+------+-----+----+
| Ano| UF|CAPITAL|RM_RIDE|V1008|V1012|V1013|V1016|Estrato|      UPA|V1022|V1023| V1030|       V1031|       V1032|posest|A001|A001A|A001B1|A001B2|A001B3|A002|A003|A004|A005|A006|A006A|A006B|A007|A007A|A008|A009|B0011|B0012|B0013|B0014|B0015|B0016|B0017|B0018|B0019|B00110|B00111|B00112|B00113|B002|B0031|B0032|B0033|B0034|B0035|B0036|B0037|B0041|B0042|B0043|B0044|B0045|B0046|B005|B006|B007|B008|B009A|B009B|B009C|B009D|B009E|B009F|B0101|B0102|B0103|B0104|B0105|B0106|B011|C001|C002|C003|C004|C005|C0051|C0052|C0053|C006|C007|C007A|C007B|C007C|C007D|C007E|C007E1|C007E2|C007F|C008|C009|C009A|C010|C0101|C01011|  C01012|C0102|C01021|C01022|C0103|C0104|C011A|C011A1|C011A11| C011A12|C011A2|C011A21|C011A22|C012|C013|C014|C015|C016|C017A|D0011|D0013|D0021|D0023|D0031|D0033|D0041|   D0043|D0051|   D0053|D0061|D0063|D0071|D0073|E001|E0021|E0022|E0023|E0024|F001|F0021|F0022|F002A1|F002A2|F002A3|F002A4|F002A5|F0061|F006|
+----+---+-------+-------+-----+-----+-----+-----+-------+---------+-----+-----+------+------------+------------+------+----+-----+------+------+------+----+----+----+----+----+-----+-----+----+-----+----+----+-----+-----+-----+-----+-----+-----+-----+-----+-----+------+------+------+------+----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+----+----+----+----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+----+----+----+----+----+----+-----+-----+-----+----+----+-----+-----+-----+-----+-----+------+------+-----+----+----+-----+----+-----+------+--------+-----+------+------+-----+-----+-----+------+-------+--------+------+-------+-------+----+----+----+----+----+-----+-----+-----+-----+-----+-----+-----+-----+--------+-----+--------+-----+-----+-----+-----+----+-----+-----+-----+-----+----+-----+-----+------+------+------+------+------+-----+----+
|2020| 11|     11|   NULL|   01|    4|   11|    7|1110011|110015970|    1|    1|152902|101.01170275|117.46371855|  1114|  01|   01|    05|    08|  1984| 036|   1|   4|   5|NULL| NULL| NULL|NULL| NULL|NULL|NULL|    2|    2|    2|    2|    2|    2|    2|    2|    2|     2|     2|     2|     2|NULL| NULL| NULL| NULL| NULL| NULL| NULL| NULL| NULL| NULL| NULL| NULL| NULL| NULL|NULL|NULL|   1|   2| NULL| NULL| NULL| NULL| NULL| NULL|    2|    2|    2|    2|    2|    2|   2|   1|NULL|NULL|NULL|NULL| NULL| NULL| NULL|   2|  04| NULL|    1|   35|   06| NULL|  NULL|  NULL| NULL| 048| 048| NULL|   1|    1|    04|00001045| NULL|  NULL|  NULL| NULL| NULL|    1|     1|     04|00001045|  NULL|   NULL|   NULL|   1|NULL|NULL|NULL|NULL| NULL|    2| NULL|    2| NULL|    2| NULL|    2|    NULL|    1|00000600|    2| NULL|    2| NULL|   3| NULL| NULL| NULL| NULL|   1| NULL| NULL|     1|     1|     1|     2|     1|    1|  01|
|2020| 11|     11|   NULL|   01|    4|   11|    7|1110011|110015970|    1|    1|150835|101.01170275|125.75120197|  1124|  02|   02|    18|    08|  1990| 030|   2|   4|   7|NULL| NULL| NULL|NULL| NULL|NULL|NULL|    2|    2|    2|    2|    2|    2|    2|    2|    2|     2|     2|     2|     2|NULL| NULL| NULL| NULL| NULL| NULL| NULL| NULL| NULL| NULL| NULL| NULL| NULL| NULL|NULL|NULL|   2|   2| NULL| NULL| NULL| NULL| NULL| NULL|    2|    2|    2|    2|    2|    2|   2|   1|NULL|NULL|NULL|NULL| NULL| NULL| NULL|   2|  07| NULL| NULL|   27|   20| NULL|  NULL|  NULL| NULL| 036| 036|    2|   1|    1|    04|00001045| NULL|  NULL|  NULL| NULL| NULL|    1|     1|     04|00001045|  NULL|   NULL|   NULL|   1|NULL|   2|NULL|NULL| NULL|    2| NULL|    2| NULL|    2| NULL|    2|    NULL|    1|00000600|    2| NULL|    2| NULL|   3| NULL| NULL| NULL| NULL|   1| NULL| NULL|     1|     1|     1|     2|     1|    1|  01|
|2020| 11|     11|   NULL|   01|    4|   11|    7|1110011|110015970|    1|    1|144737|101.01170275|131.36101755|  1112|  03|   04|    25|    12|  2006| 013|   1|   4|   2|   1|    1|    3|   1| NULL|   5|   3|    2|    2|    2|    2|    2|    2|    2|    2|    2|     2|     2|     2|     2|NULL| NULL| NULL| NULL| NULL| NULL| NULL| NULL| NULL| NULL| NULL| NULL| NULL| NULL|NULL|NULL|   1|   2| NULL| NULL| NULL| NULL| NULL| NULL|    2|    2|    2|    2|    2|    2|   4|NULL|NULL|NULL|NULL|NULL| NULL| NULL| NULL|NULL|NULL| NULL| NULL| NULL| NULL| NULL|  NULL|  NULL| NULL|NULL|NULL| NULL|NULL| NULL|  NULL|    NULL| NULL|  NULL|  NULL| NULL| NULL| NULL|  NULL|   NULL|    NULL|  NULL|   NULL|   NULL|NULL|NULL|NULL|NULL|NULL| NULL|    2| NULL|    2| NULL|    2| NULL|    2|    NULL|    1|00000600|    2| NULL|    2| NULL|   3| NULL| NULL| NULL| NULL|   1| NULL| NULL|     1|     1|     1|     2|     1|    1|  01|
|2020| 11|     11|   NULL|   01|    4|   11|    7|1110011|110015970|    1|    1|144737|101.01170275|131.36101755|  1112|  04|   04|    24|    08|  2009| 011|   1|   4|   2|   1|    1|    3|   1| NULL|   5|   3|    2|    2|    2|    2|    2|    2|    2|    2|    2|     2|     2|     2|     2|NULL| NULL| NULL| NULL| NULL| NULL| NULL| NULL| NULL| NULL| NULL| NULL| NULL| NULL|NULL|NULL|   1|   2| NULL| NULL| NULL| NULL| NULL| NULL|    2|    2|    2|    2|    2|    2|   4|NULL|NULL|NULL|NULL|NULL| NULL| NULL| NULL|NULL|NULL| NULL| NULL| NULL| NULL| NULL|  NULL|  NULL| NULL|NULL|NULL| NULL|NULL| NULL|  NULL|    NULL| NULL|  NULL|  NULL| NULL| NULL| NULL|  NULL|   NULL|    NULL|  NULL|   NULL|   NULL|NULL|NULL|NULL|NULL|NULL| NULL|    2| NULL|    2| NULL|    2| NULL|    2|    NULL|    1|00000600|    2| NULL|    2| NULL|   3| NULL| NULL| NULL| NULL|   1| NULL| NULL|     1|     1|     1|     2|     1|    1|  01|
|2020| 11|     11|   NULL|   02|    1|   11|    7|1110011|110015970|    1|    1| 92377|101.01170275|100.73351653|  1126|  01|   01|    18|    05|  1963| 057|   2|   1|   2|NULL| NULL| NULL|NULL| NULL|NULL|NULL|    2|    2|    2|    2|    2|    2|    2|    2|    2|     2|     2|     2|     2|NULL| NULL| NULL| NULL| NULL| NULL| NULL| NULL| NULL| NULL| NULL| NULL| NULL| NULL|NULL|NULL|   2|   2| NULL| NULL| NULL| NULL| NULL| NULL|    2|    2|    2|    2|    2|    2|   2|   2|   2|NULL|NULL|NULL| NULL| NULL| NULL|NULL|NULL| NULL| NULL| NULL| NULL| NULL|  NULL|  NULL| NULL|NULL|NULL| NULL|NULL| NULL|  NULL|    NULL| NULL|  NULL|  NULL| NULL| NULL| NULL|  NULL|   NULL|    NULL|  NULL|   NULL|   NULL|NULL|NULL|   2|   2|  01|    1|    2| NULL|    2| NULL|    2| NULL|    1|00001045|    2|    NULL|    2| NULL|    2| NULL|   3| NULL| NULL| NULL| NULL|   1| NULL| NULL|     1|     1|     1|     2|     1|    1|  01|
+----+---+-------+-------+-----+-----+-----+-----+-------+---------+-----+-----+------+------------+------------+------+----+-----+------+------+------+----+----+----+----+----+-----+-----+----+-----+----+----+-----+-----+-----+-----+-----+-----+-----+-----+-----+------+------+------+------+----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+----+----+----+----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+----+----+----+----+----+----+-----+-----+-----+----+----+-----+-----+-----+-----+-----+------+------+-----+----+----+-----+----+-----+------+--------+-----+------+------+-----+-----+-----+------+-------+--------+------+-------+-------+----+----+----+----+----+-----+-----+-----+-----+-----+-----+-----+-----+--------+-----+--------+-----+-----+-----+-----+----+-----+-----+-----+-----+----+-----+-----+------+------+------+------+------+-----+----+
only showing top 5 rows

In [24]:

# Registrar o DataFrame como tabela tempor√°ria
df_set.createOrReplaceTempView("pnad_set")
df_out.createOrReplaceTempView("pnad_out")
df_nov.createOrReplaceTempView("pnad_nov")

In [43]:
df_nov.show(5)

+----+---+-------+-------+-----+-----+-----+-----+-------+---------+-----+-----+------+------------+------------+------+----+-----+------+------+------+----+----+----+----+----+-----+-----+----+-----+----+----+-----+-----+-----+-----+-----+-----+-----+-----+-----+------+------+------+------+----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+----+----+----+----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+----+----+----+----+----+----+-----+-----+-----+----+----+-----+-----+-----+-----+-----+------+------+-----+----+----+-----+----+-----+------+--------+-----+------+------+-----+-----+-----+------+-------+--------+------+-------+-------+----+----+----+----+----+-----+-----+-----+-----+-----+-----+-----+-----+--------+-----+--------+-----+-----+-----+-----+----+-----+-----+-----+-----+----+-----+-----+------+------+------+------+------+-----+----+
| Ano| UF|CAPITAL|RM_RIDE|V1008|V1012|V1013|V1016|Estrato|      UPA|V1022|V1023| V1030|       V1031|       V1032|posest|A001|A001A|A001B1|A001B2|A001B3|A002|A003|A004|A005|A006|A006A|A006B|A007|A007A|A008|A009|B0011|B0012|B0013|B0014|B0015|B0016|B0017|B0018|B0019|B00110|B00111|B00112|B00113|B002|B0031|B0032|B0033|B0034|B0035|B0036|B0037|B0041|B0042|B0043|B0044|B0045|B0046|B005|B006|B007|B008|B009A|B009B|B009C|B009D|B009E|B009F|B0101|B0102|B0103|B0104|B0105|B0106|B011|C001|C002|C003|C004|C005|C0051|C0052|C0053|C006|C007|C007A|C007B|C007C|C007D|C007E|C007E1|C007E2|C007F|C008|C009|C009A|C010|C0101|C01011|  C01012|C0102|C01021|C01022|C0103|C0104|C011A|C011A1|C011A11| C011A12|C011A2|C011A21|C011A22|C012|C013|C014|C015|C016|C017A|D0011|D0013|D0021|D0023|D0031|D0033|D0041|   D0043|D0051|   D0053|D0061|D0063|D0071|D0073|E001|E0021|E0022|E0023|E0024|F001|F0021|F0022|F002A1|F002A2|F002A3|F002A4|F002A5|F0061|F006|
+----+---+-------+-------+-----+-----+-----+-----+-------+---------+-----+-----+------+------------+------------+------+----+-----+------+------+------+----+----+----+----+----+-----+-----+----+-----+----+----+-----+-----+-----+-----+-----+-----+-----+-----+-----+------+------+------+------+----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+----+----+----+----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+----+----+----+----+----+----+-----+-----+-----+----+----+-----+-----+-----+-----+-----+------+------+-----+----+----+-----+----+-----+------+--------+-----+------+------+-----+-----+-----+------+-------+--------+------+-------+-------+----+----+----+----+----+-----+-----+-----+-----+-----+-----+-----+-----+--------+-----+--------+-----+-----+-----+-----+----+-----+-----+-----+-----+----+-----+-----+------+------+------+------+------+-----+----+
|2020| 11|     11|   NULL|   01|    4|   11|    7|1110011|110015970|    1|    1|152902|101.01170275|117.46371855|  1114|  01|   01|    05|    08|  1984| 036|   1|   4|   5|NULL| NULL| NULL|NULL| NULL|NULL|NULL|    2|    2|    2|    2|    2|    2|    2|    2|    2|     2|     2|     2|     2|NULL| NULL| NULL| NULL| NULL| NULL| NULL| NULL| NULL| NULL| NULL| NULL| NULL| NULL|NULL|NULL|   1|   2| NULL| NULL| NULL| NULL| NULL| NULL|    2|    2|    2|    2|    2|    2|   2|   1|NULL|NULL|NULL|NULL| NULL| NULL| NULL|   2|  04| NULL|    1|   35|   06| NULL|  NULL|  NULL| NULL| 048| 048| NULL|   1|    1|    04|00001045| NULL|  NULL|  NULL| NULL| NULL|    1|     1|     04|00001045|  NULL|   NULL|   NULL|   1|NULL|NULL|NULL|NULL| NULL|    2| NULL|    2| NULL|    2| NULL|    2|    NULL|    1|00000600|    2| NULL|    2| NULL|   3| NULL| NULL| NULL| NULL|   1| NULL| NULL|     1|     1|     1|     2|     1|    1|  01|
|2020| 11|     11|   NULL|   01|    4|   11|    7|1110011|110015970|    1|    1|150835|101.01170275|125.75120197|  1124|  02|   02|    18|    08|  1990| 030|   2|   4|   7|NULL| NULL| NULL|NULL| NULL|NULL|NULL|    2|    2|    2|    2|    2|    2|    2|    2|    2|     2|     2|     2|     2|NULL| NULL| NULL| NULL| NULL| NULL| NULL| NULL| NULL| NULL| NULL| NULL| NULL| NULL|NULL|NULL|   2|   2| NULL| NULL| NULL| NULL| NULL| NULL|    2|    2|    2|    2|    2|    2|   2|   1|NULL|NULL|NULL|NULL| NULL| NULL| NULL|   2|  07| NULL| NULL|   27|   20| NULL|  NULL|  NULL| NULL| 036| 036|    2|   1|    1|    04|00001045| NULL|  NULL|  NULL| NULL| NULL|    1|     1|     04|00001045|  NULL|   NULL|   NULL|   1|NULL|   2|NULL|NULL| NULL|    2| NULL|    2| NULL|    2| NULL|    2|    NULL|    1|00000600|    2| NULL|    2| NULL|   3| NULL| NULL| NULL| NULL|   1| NULL| NULL|     1|     1|     1|     2|     1|    1|  01|
|2020| 11|     11|   NULL|   01|    4|   11|    7|1110011|110015970|    1|    1|144737|101.01170275|131.36101755|  1112|  03|   04|    25|    12|  2006| 013|   1|   4|   2|   1|    1|    3|   1| NULL|   5|   3|    2|    2|    2|    2|    2|    2|    2|    2|    2|     2|     2|     2|     2|NULL| NULL| NULL| NULL| NULL| NULL| NULL| NULL| NULL| NULL| NULL| NULL| NULL| NULL|NULL|NULL|   1|   2| NULL| NULL| NULL| NULL| NULL| NULL|    2|    2|    2|    2|    2|    2|   4|NULL|NULL|NULL|NULL|NULL| NULL| NULL| NULL|NULL|NULL| NULL| NULL| NULL| NULL| NULL|  NULL|  NULL| NULL|NULL|NULL| NULL|NULL| NULL|  NULL|    NULL| NULL|  NULL|  NULL| NULL| NULL| NULL|  NULL|   NULL|    NULL|  NULL|   NULL|   NULL|NULL|NULL|NULL|NULL|NULL| NULL|    2| NULL|    2| NULL|    2| NULL|    2|    NULL|    1|00000600|    2| NULL|    2| NULL|   3| NULL| NULL| NULL| NULL|   1| NULL| NULL|     1|     1|     1|     2|     1|    1|  01|
|2020| 11|     11|   NULL|   01|    4|   11|    7|1110011|110015970|    1|    1|144737|101.01170275|131.36101755|  1112|  04|   04|    24|    08|  2009| 011|   1|   4|   2|   1|    1|    3|   1| NULL|   5|   3|    2|    2|    2|    2|    2|    2|    2|    2|    2|     2|     2|     2|     2|NULL| NULL| NULL| NULL| NULL| NULL| NULL| NULL| NULL| NULL| NULL| NULL| NULL| NULL|NULL|NULL|   1|   2| NULL| NULL| NULL| NULL| NULL| NULL|    2|    2|    2|    2|    2|    2|   4|NULL|NULL|NULL|NULL|NULL| NULL| NULL| NULL|NULL|NULL| NULL| NULL| NULL| NULL| NULL|  NULL|  NULL| NULL|NULL|NULL| NULL|NULL| NULL|  NULL|    NULL| NULL|  NULL|  NULL| NULL| NULL| NULL|  NULL|   NULL|    NULL|  NULL|   NULL|   NULL|NULL|NULL|NULL|NULL|NULL| NULL|    2| NULL|    2| NULL|    2| NULL|    2|    NULL|    1|00000600|    2| NULL|    2| NULL|   3| NULL| NULL| NULL| NULL|   1| NULL| NULL|     1|     1|     1|     2|     1|    1|  01|
|2020| 11|     11|   NULL|   02|    1|   11|    7|1110011|110015970|    1|    1| 92377|101.01170275|100.73351653|  1126|  01|   01|    18|    05|  1963| 057|   2|   1|   2|NULL| NULL| NULL|NULL| NULL|NULL|NULL|    2|    2|    2|    2|    2|    2|    2|    2|    2|     2|     2|     2|     2|NULL| NULL| NULL| NULL| NULL| NULL| NULL| NULL| NULL| NULL| NULL| NULL| NULL| NULL|NULL|NULL|   2|   2| NULL| NULL| NULL| NULL| NULL| NULL|    2|    2|    2|    2|    2|    2|   2|   2|   2|NULL|NULL|NULL| NULL| NULL| NULL|NULL|NULL| NULL| NULL| NULL| NULL| NULL|  NULL|  NULL| NULL|NULL|NULL| NULL|NULL| NULL|  NULL|    NULL| NULL|  NULL|  NULL| NULL| NULL| NULL|  NULL|   NULL|    NULL|  NULL|   NULL|   NULL|NULL|NULL|   2|   2|  01|    1|    2| NULL|    2| NULL|    2| NULL|    1|00001045|    2|    NULL|    2| NULL|    2| NULL|   3| NULL| NULL| NULL| NULL|   1| NULL| NULL|     1|     1|     1|     2|     1|    1|  01|
+----+---+-------+-------+-----+-----+-----+-----+-------+---------+-----+-----+------+------------+------------+------+----+-----+------+------+------+----+----+----+----+----+-----+-----+----+-----+----+----+-----+-----+-----+-----+-----+-----+-----+-----+-----+------+------+------+------+----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+----+----+----+----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+----+----+----+----+----+----+-----+-----+-----+----+----+-----+-----+-----+-----+-----+------+------+-----+----+----+-----+----+-----+------+--------+-----+------+------+-----+-----+-----+------+-------+--------+------+-------+-------+----+----+----+----+----+-----+-----+-----+-----+-----+-----+-----+-----+--------+-----+--------+-----+-----+-----+-----+----+-----+-----+-----+-----+----+-----+-----+------+------+------+------+------+-----+----+
only showing top 5 rows

In [44]:
# Agrupamento das informa√ß√µes

df_set_sql = spark.sql("""
  SELECT
    A001 as ID_Entrevista,
    UF as estado,
    'set/2020' as anoMes,
    A002 as idade,
    A003 as sexo,
    A004 as cor,
    A005 as escolaridade,
    B0011 as febre,
    B0012 as tosse,
    B0014 as dificuldade_respirar,
    B0015 as dor_cabeca,
    B0019 as fadiga,
    B00112 as dor_muscular,
    B007 as planoSaude,
    B008 as Fez_teste,
    B009A as SWAB,
    B009B as resultado_SWAB,
    B009C as coleta_sangue,
    B009D as resultado_coleta_sangue,
    B009E as exame_veia_braco,
    B009F as resultado_exame_veia_braco,
    C006 as Tem_mais_de_um_trabalho,
    C013 as Tipo_de_trabalho,
    B0042 as SUS_UPA,
    B0043 as Hospital_sus
  FROM pnad_set
""")

df_out_sql = spark.sql("""
  SELECT
    A001 as ID_Entrevista,
    UF as estado,
    'out/2020' as anoMes,
    A002 as idade,
    A003 as sexo,
    A004 as cor,
    A005 as escolaridade,
    B0011 as febre,
    B0012 as tosse,
    B0014 as dificuldade_respirar,
    B0015 as dor_cabeca,
    B0019 as fadiga,
    B00112 as dor_muscular,
    B008 as Fez_teste,
    B007 as planoSaude,
    B009A as SWAB,
    B009B as resultado_SWAB,
    B009C as coleta_sangue,
    B009D as resultado_coleta_sangue,
    B009E as exame_veia_braco,
    B009F as resultado_exame_veia_braco,
    C006 as Tem_mais_de_um_trabalho,
    C013 as Tipo_de_trabalho,
    B0042 as SUS_UPA,
    B0043 as Hospital_sus
  FROM pnad_out
""")

df_nov_sql = spark.sql("""
  SELECT
    A001 as ID_Entrevista,
    UF as estado,
    'nov/2020' as anoMes,
    A002 as idade,
    A003 as sexo,
    A004 as cor,
    A005 as escolaridade,
    B0011 as febre,
    B0012 as tosse,
    B0014 as dificuldade_respirar,
    B0015 as dor_cabeca,
    B0019 as fadiga,
    B00112 as dor_muscular,
    B008 as Fez_teste,
    B007 as planoSaude,
    B009A as SWAB,
    B009B as resultado_SWAB,
    B009C as coleta_sangue,
    B009D as resultado_coleta_sangue,
    B009E as exame_veia_braco,
    B009F as resultado_exame_veia_braco,
    C006 as Tem_mais_de_um_trabalho,
    C013 as Tipo_de_trabalho,
    B0042 as SUS_UPA,
    B0043 as Hospital_sus
  FROM pnad_nov
""")

df_set_sql.createOrReplaceTempView("df_set_sql")
df_out_sql.createOrReplaceTempView("df_out_sql")
df_nov_sql.createOrReplaceTempView("df_nov_sql")

df = spark.sql("""
  SELECT * FROM df_set_sql
  UNION ALL
  SELECT * FROM df_out_sql
  UNION ALL
  SELECT * FROM df_nov_sql
""")

df.createOrReplaceTempView("df")

df.show()

+-------------+------+--------+-----+----+---+------------+-----+-----+--------------------+----------+------+------------+----------+---------+----+--------------+-------------+-----------------------+----------------+--------------------------+-----------------------+----------------+-------+------------+
|ID_Entrevista|estado|  anoMes|idade|sexo|cor|escolaridade|febre|tosse|dificuldade_respirar|dor_cabeca|fadiga|dor_muscular|planoSaude|Fez_teste|SWAB|resultado_SWAB|coleta_sangue|resultado_coleta_sangue|exame_veia_braco|resultado_exame_veia_braco|Tem_mais_de_um_trabalho|Tipo_de_trabalho|SUS_UPA|Hospital_sus|
+-------------+------+--------+-----+----+---+------------+-----+-----+--------------------+----------+------+------------+----------+---------+----+--------------+-------------+-----------------------+----------------+--------------------------+-----------------------+----------------+-------+------------+
|           01|    11|set/2020|  036|   1|  4|           5|    2|    2|                   2|         2|     2|           2|         1|        2|NULL|          NULL|         NULL|                   NULL|            NULL|                      NULL|                      2|            NULL|   NULL|        NULL|
|           02|    11|set/2020|  030|   2|  4|           7|    2|    2|                   2|         2|     2|           2|         2|        2|NULL|          NULL|         NULL|                   NULL|            NULL|                      NULL|                      2|            NULL|   NULL|        NULL|
|           03|    11|set/2020|  013|   1|  4|           2|    2|    2|                   2|         2|     2|           2|         1|        2|NULL|          NULL|         NULL|                   NULL|            NULL|                      NULL|                   NULL|            NULL|   NULL|        NULL|
|           04|    11|set/2020|  011|   1|  4|           2|    2|    2|                   2|         2|     2|           2|         1|        2|NULL|          NULL|         NULL|                   NULL|            NULL|                      NULL|                   NULL|            NULL|   NULL|        NULL|
|           01|    11|set/2020|  057|   2|  1|           2|    2|    2|                   2|         2|     2|           2|         2|        2|NULL|          NULL|         NULL|                   NULL|            NULL|                      NULL|                   NULL|            NULL|   NULL|        NULL|
|           01|    11|set/2020|  058|   2|  2|           1|    2|    2|                   2|         2|     2|           2|         2|        2|NULL|          NULL|         NULL|                   NULL|            NULL|                      NULL|                      2|            NULL|   NULL|        NULL|
|           01|    11|set/2020|  047|   1|  4|           2|    2|    2|                   2|         2|     2|           2|         2|        2|NULL|          NULL|         NULL|                   NULL|            NULL|                      NULL|                      2|            NULL|   NULL|        NULL|
|           04|    11|set/2020|  018|   2|  4|           2|    2|    2|                   2|         2|     2|           2|         2|        2|NULL|          NULL|         NULL|                   NULL|            NULL|                      NULL|                   NULL|            NULL|   NULL|        NULL|
|           07|    11|set/2020|  011|   1|  4|           2|    2|    2|                   2|         2|     2|           2|         2|        2|NULL|          NULL|         NULL|                   NULL|            NULL|                      NULL|                   NULL|            NULL|   NULL|        NULL|
|           09|    11|set/2020|  009|   2|  4|           2|    2|    2|                   2|         2|     2|           2|         2|        2|NULL|          NULL|         NULL|                   NULL|            NULL|                      NULL|                   NULL|            NULL|   NULL|        NULL|
|           08|    11|set/2020|  010|   1|  4|           2|    2|    2|                   2|         2|     2|           2|         2|        2|NULL|          NULL|         NULL|                   NULL|            NULL|                      NULL|                   NULL|            NULL|   NULL|        NULL|
|           03|    11|set/2020|  026|   1|  4|           5|    2|    2|                   2|         2|     2|           2|         2|        2|NULL|          NULL|         NULL|                   NULL|            NULL|                      NULL|                      2|            NULL|   NULL|        NULL|
|           06|    11|set/2020|  014|   1|  3|           2|    2|    2|                   2|         2|     2|           2|         2|        2|NULL|          NULL|         NULL|                   NULL|            NULL|                      NULL|                   NULL|            NULL|   NULL|        NULL|
|           05|    11|set/2020|  015|   2|  4|           2|    2|    2|                   2|         2|     2|           2|         2|        2|NULL|          NULL|         NULL|                   NULL|            NULL|                      NULL|                   NULL|            NULL|   NULL|        NULL|
|           02|    11|set/2020|  033|   2|  4|           2|    2|    2|                   2|         2|     2|           2|         2|        2|NULL|          NULL|         NULL|                   NULL|            NULL|                      NULL|                   NULL|            NULL|   NULL|        NULL|
|           01|    11|set/2020|  062|   1|  4|           1|    2|    2|                   2|         2|     2|           2|         2|        2|NULL|          NULL|         NULL|                   NULL|            NULL|                      NULL|                      2|            NULL|   NULL|        NULL|
|           02|    11|set/2020|  062|   2|  4|           2|    2|    2|                   2|         2|     2|           2|         2|        2|NULL|          NULL|         NULL|                   NULL|            NULL|                      NULL|                   NULL|            NULL|   NULL|        NULL|
|           01|    11|set/2020|  056|   2|  4|           2|    2|    2|                   2|         2|     2|           2|         2|        2|NULL|          NULL|         NULL|                   NULL|            NULL|                      NULL|                   NULL|            NULL|   NULL|        NULL|
|           02|    11|set/2020|  053|   1|  2|           2|    2|    2|                   2|         2|     2|           2|         2|        2|NULL|          NULL|         NULL|                   NULL|            NULL|                      NULL|                      2|            NULL|   NULL|        NULL|
|           03|    11|set/2020|  017|   2|  1|           4|    2|    2|                   2|         2|     2|           2|         2|        2|NULL|          NULL|         NULL|                   NULL|            NULL|                      NULL|                   NULL|            NULL|   NULL|        NULL|
+-------------+------+--------+-----+----+---+------------+-----+-----+--------------------+----------+------+------------+----------+---------+----+--------------+-------------+-----------------------+----------------+--------------------------+-----------------------+----------------+-------+------------+
only showing top 20 rows

In [32]:
# Normaliza√ß√£o dos texto
df = spark.sql("""
  select
    id_entrevista,
    case
      when estado = 11 then 'Rond√¥nia'
      when estado = 12 then 'Acre'
      when estado = 13 then 'Amazonas'
      when estado = 14 then 'Roraima'
      when estado = 15 then 'Par√°'
      when estado = 16 then 'Amap√°'
      when estado = 17 then 'Tocantins'
      when estado = 21 then 'Maranh√£o'
      when estado = 22 then 'Piau√≠'
      when estado = 23 then 'Cear√°'
      when estado = 24 then 'Rio Grande do Norte'
      when estado = 25 then 'Para√≠ba'
      when estado = 26 then 'Pernambuco'
      when estado = 27 then 'Alagoas'
      when estado = 28 then 'Sergipe'
      when estado = 29 then 'Bahia'
      when estado = 31 then 'Minas Gerais'
      when estado = 32 then 'Esp√≠rito Santo'
      when estado = 33 then 'Rio de Janeiro'
      when estado = 35 then 'S√£o Paulo'
      when estado = 41 then 'Paran√°'
      when estado = 42 then 'Santa Catarina'
      when estado = 43 then 'Rio Grande do Sul'
      when estado = 50 then 'Mato Grosso do Sul'
      when estado = 51 then 'Mato Grosso'
      when estado = 52 then 'Goi√°s'
      when estado = 53 then 'Distrito Federal'
    end as estado,
    case
      when estado in (11, 12, 13, 14, 15, 16, 17) then 'Norte'
      when estado in (21, 22, 23, 24, 25, 26, 27, 28, 29) then 'Nordeste'
      when estado in (31, 32, 33, 35) then 'Sudeste'
      when estado in (41, 42, 43) then 'Sul'
      when estado in (50, 51, 52, 53) then 'Centro-Oeste'
    end as macro_regiao,
    anoMes,
    idade,
    case
      when idade between 0 and 9 then '0 - 9 anos'
      when idade between 10 and 19 then '10 - 19 anos'
      when idade between 20 and 29 then '20 - 29 anos'
      when idade between 30 and 39 then '30 - 39 anos'
      when idade between 40 and 49 then '40 - 49 anos'
      when idade between 50 and 59 then '50 - 59 anos'
      when idade between 60 and 69 then '60 - 69 anos'
      when idade between 70 and 79 then '70 - 79 anos'
      when idade between 80 and 89 then '80 - 89 anos'
      when idade between 90 and 99 then '90 - 99 anos'
      else 'Acima de 100 anos'
    end as faixa_idade,
    case
      when sexo = 1 then 'masculino'
      when sexo = 2 then 'feminino'
      else null
    end as sexo_texto,
    case
      when cor = 1 then 'branca'
      when cor = 2 then 'preto'
      when cor = 3 then 'amarelo'
      when cor = 4 then 'parda'
      when cor = 5 then 'indigena'
      when cor = 9 then 'ignorada'
      else null
    end as cor_texto,
    case
      when escolaridade = 1 then 'sem instru√ß√£o'
      when escolaridade = 2 then 'fundamental incompleto'
      when escolaridade = 3 then 'fundamental completo'
      when escolaridade = 4 then 'm√©dio incompleto'
      when escolaridade = 5 then 'm√©dio completo'
      when escolaridade = 6 then 'superior incompleto'
      when escolaridade = 7 then 'superior completo'
      when escolaridade = 8 then 'p√≥s-gradua√ß√£o, mestrado ou doutorado'
      else null
    end as escolaridade_texto,
    case
      when febre = 1 then 'Sim'
      when febre = 2 then 'N√£o'
      when febre = 3 then 'N√£o sabe'
      when febre = 9 then 'Ignorado'
      else 'Ignorado'
    end as febre,
    case
      when tosse = 1 then 'Sim'
      when tosse = 2 then 'N√£o'
      when tosse = 3 then 'N√£o sabe'
      when tosse = 9 then 'Ignorado'
      else null
    end as tosse,
    case
      when dificuldade_respirar = 1 then 'Sim'
      when dificuldade_respirar = 2 then 'N√£o'
      when dificuldade_respirar = 3 then 'N√£o sabe'
      when dificuldade_respirar = 9 then 'Ignorado'
      else null
    end as dificuldade_respirar,
    case
      when dor_cabeca = 1 then 'Sim'
      when dor_cabeca = 2 then 'N√£o'
      when dor_cabeca = 3 then 'N√£o sabe'
      when dor_cabeca = 9 then 'Ignorado'
      else null
    end as dor_cabeca,
    case
      when fadiga = 1 then 'Sim'
      when fadiga = 2 then 'N√£o'
      when fadiga = 3 then 'N√£o sabe'
      when fadiga = 9 then 'Ignorado'
      else null
    end as fadiga,
    case
      when dor_muscular = 1 then 'Sim'
      when dor_muscular = 2 then 'N√£o'
      when dor_muscular = 3 then 'N√£o sabe'
      when dor_muscular = 9 then 'Ignorado'
      else null
    end as dor_muscular,
    case
      when Fez_teste = 1 then 'Sim'
      when Fez_teste = 2 then 'N√£o'
      when Fez_teste = 9 then 'Ignorado'
      else null
    end as Fez_teste,
    case
      when SWAB = 1 then 'Sim'
      when SWAB = 2 then 'N√£o'
      when SWAB = 9 then 'Ignorado'
      else null
    end as SWAB,
    case
      when resultado_SWAB = 1 then 'Sim'
      when resultado_SWAB = 2 then 'N√£o'
      when resultado_SWAB = 3 then 'Inconclusivo'
      when resultado_SWAB = 4 then 'Ainda n√£o recebeu o resultado'
      when resultado_SWAB = 9 then 'Ignorado'
      else null
    end as resultado_SWAB,
    case
      when coleta_sangue = 1 then 'Sim'
      when coleta_sangue = 2 then 'N√£o'
      when coleta_sangue = 9 then 'Ignorado'
      else null
    end as coleta_sangue,
    case
      when resultado_coleta_sangue = 1 then 'Sim'
      when resultado_coleta_sangue = 2 then 'N√£o'
      when resultado_coleta_sangue = 3 then 'Inconclusivo'
      when resultado_coleta_sangue = 4 then 'Ainda n√£o recebeu o resultado'
      when resultado_coleta_sangue = 9 then 'Ignorado'
      else null
    end as resultado_coleta_sangue,
    case
      when exame_veia_braco = 1 then 'Sim'
      when exame_veia_braco = 2 then 'N√£o'
      when exame_veia_braco = 9 then 'Ignorado'
      else null
    end as exame_veia_braco,
    case
      when resultado_exame_veia_braco = 1 then 'Sim'
      when resultado_exame_veia_braco = 2 then 'N√£o'
      when resultado_exame_veia_braco = 3 then 'Inconclusivo'
      when resultado_exame_veia_braco = 4 then 'Ainda n√£o recebeu o resultado'
      when resultado_exame_veia_braco = 9 then 'Ignorado'
      else null
    end as resultado_exame_veia_braco,
    case
      when planoSaude = 1 then 'Sim'
      when planoSaude = 2 then 'N√£o'
      when planoSaude = 9 then 'Ignorado'
      else null
    end as planoSaude,
    case
      when Tem_mais_de_um_trabalho = 1 then 'Sim'
      when Tem_mais_de_um_trabalho = 2 then 'N√£o'
      else 'N√£o aplicavel'
    end as Tem_mais_de_um_trabalho,
    case
      when Tipo_de_trabalho = 1 then 'Sim'
      when Tipo_de_trabalho = 2 then 'N√£o'
      else 'N√£o aplicavel'
    end as Tipo_de_trabalho,
    case
      when SUS_UPA = 1 then 'Sim'
      when SUS_UPA = 2 then 'N√£o'
      else 'N√£o aplicavel'
    end as SUS_UPA,
    case
      when Hospital_sus = 1 then 'Sim'
      when Hospital_sus = 2 then 'N√£o'
      else 'N√£o aplicavel'
    end as Hospital_sus
  from df

""")

df.createOrReplaceTempView("df")

df.show()

+-------------+--------+------------+--------+-----+------------+----------+---------+--------------------+-----+-----+--------------------+----------+------+------------+---------+----+--------------+-------------+-----------------------+----------------+--------------------------+----------+-----------------------+----------------+-------------+-------------+
|id_entrevista|  estado|macro_regiao|  anoMes|idade| faixa_idade|sexo_texto|cor_texto|  escolaridade_texto|febre|tosse|dificuldade_respirar|dor_cabeca|fadiga|dor_muscular|Fez_teste|SWAB|resultado_SWAB|coleta_sangue|resultado_coleta_sangue|exame_veia_braco|resultado_exame_veia_braco|planoSaude|Tem_mais_de_um_trabalho|Tipo_de_trabalho|      SUS_UPA| Hospital_sus|
+-------------+--------+------------+--------+-----+------------+----------+---------+--------------------+-----+-----+--------------------+----------+------+------------+---------+----+--------------+-------------+-----------------------+----------------+--------------------------+----------+-----------------------+----------------+-------------+-------------+
|           01|Rond√¥nia|       Norte|set/2020|  036|30 - 39 anos| masculino|    parda|      m√©dio completo|  N√£o|  N√£o|                 N√£o|       N√£o|   N√£o|         N√£o|      N√£o|NULL|          NULL|         NULL|                   NULL|            NULL|                      NULL|       Sim|                    N√£o|   N√£o aplicavel|N√£o aplicavel|N√£o aplicavel|
|           02|Rond√¥nia|       Norte|set/2020|  030|30 - 39 anos|  feminino|    parda|   superior completo|  N√£o|  N√£o|                 N√£o|       N√£o|   N√£o|         N√£o|      N√£o|NULL|          NULL|         NULL|                   NULL|            NULL|                      NULL|       N√£o|                    N√£o|   N√£o aplicavel|N√£o aplicavel|N√£o aplicavel|
|           03|Rond√¥nia|       Norte|set/2020|  013|10 - 19 anos| masculino|    parda|fundamental incom...|  N√£o|  N√£o|                 N√£o|       N√£o|   N√£o|         N√£o|      N√£o|NULL|          NULL|         NULL|                   NULL|            NULL|                      NULL|       Sim|          N√£o aplicavel|   N√£o aplicavel|N√£o aplicavel|N√£o aplicavel|
|           04|Rond√¥nia|       Norte|set/2020|  011|10 - 19 anos| masculino|    parda|fundamental incom...|  N√£o|  N√£o|                 N√£o|       N√£o|   N√£o|         N√£o|      N√£o|NULL|          NULL|         NULL|                   NULL|            NULL|                      NULL|       Sim|          N√£o aplicavel|   N√£o aplicavel|N√£o aplicavel|N√£o aplicavel|
|           01|Rond√¥nia|       Norte|set/2020|  057|50 - 59 anos|  feminino|   branca|fundamental incom...|  N√£o|  N√£o|                 N√£o|       N√£o|   N√£o|         N√£o|      N√£o|NULL|          NULL|         NULL|                   NULL|            NULL|                      NULL|       N√£o|          N√£o aplicavel|   N√£o aplicavel|N√£o aplicavel|N√£o aplicavel|
|           01|Rond√¥nia|       Norte|set/2020|  058|50 - 59 anos|  feminino|    preto|       sem instru√ß√£o|  N√£o|  N√£o|                 N√£o|       N√£o|   N√£o|         N√£o|      N√£o|NULL|          NULL|         NULL|                   NULL|            NULL|                      NULL|       N√£o|                    N√£o|   N√£o aplicavel|N√£o aplicavel|N√£o aplicavel|
|           01|Rond√¥nia|       Norte|set/2020|  047|40 - 49 anos| masculino|    parda|fundamental incom...|  N√£o|  N√£o|                 N√£o|       N√£o|   N√£o|         N√£o|      N√£o|NULL|          NULL|         NULL|                   NULL|            NULL|                      NULL|       N√£o|                    N√£o|   N√£o aplicavel|N√£o aplicavel|N√£o aplicavel|
|           04|Rond√¥nia|       Norte|set/2020|  018|10 - 19 anos|  feminino|    parda|fundamental incom...|  N√£o|  N√£o|                 N√£o|       N√£o|   N√£o|         N√£o|      N√£o|NULL|          NULL|         NULL|                   NULL|            NULL|                      NULL|       N√£o|          N√£o aplicavel|   N√£o aplicavel|N√£o aplicavel|N√£o aplicavel|
|           07|Rond√¥nia|       Norte|set/2020|  011|10 - 19 anos| masculino|    parda|fundamental incom...|  N√£o|  N√£o|                 N√£o|       N√£o|   N√£o|         N√£o|      N√£o|NULL|          NULL|         NULL|                   NULL|            NULL|                      NULL|       N√£o|          N√£o aplicavel|   N√£o aplicavel|N√£o aplicavel|N√£o aplicavel|
|           09|Rond√¥nia|       Norte|set/2020|  009|  0 - 9 anos|  feminino|    parda|fundamental incom...|  N√£o|  N√£o|                 N√£o|       N√£o|   N√£o|         N√£o|      N√£o|NULL|          NULL|         NULL|                   NULL|            NULL|                      NULL|       N√£o|          N√£o aplicavel|   N√£o aplicavel|N√£o aplicavel|N√£o aplicavel|
|           08|Rond√¥nia|       Norte|set/2020|  010|10 - 19 anos| masculino|    parda|fundamental incom...|  N√£o|  N√£o|                 N√£o|       N√£o|   N√£o|         N√£o|      N√£o|NULL|          NULL|         NULL|                   NULL|            NULL|                      NULL|       N√£o|          N√£o aplicavel|   N√£o aplicavel|N√£o aplicavel|N√£o aplicavel|
|           03|Rond√¥nia|       Norte|set/2020|  026|20 - 29 anos| masculino|    parda|      m√©dio completo|  N√£o|  N√£o|                 N√£o|       N√£o|   N√£o|         N√£o|      N√£o|NULL|          NULL|         NULL|                   NULL|            NULL|                      NULL|       N√£o|                    N√£o|   N√£o aplicavel|N√£o aplicavel|N√£o aplicavel|
|           06|Rond√¥nia|       Norte|set/2020|  014|10 - 19 anos| masculino|  amarelo|fundamental incom...|  N√£o|  N√£o|                 N√£o|       N√£o|   N√£o|         N√£o|      N√£o|NULL|          NULL|         NULL|                   NULL|            NULL|                      NULL|       N√£o|          N√£o aplicavel|   N√£o aplicavel|N√£o aplicavel|N√£o aplicavel|
|           05|Rond√¥nia|       Norte|set/2020|  015|10 - 19 anos|  feminino|    parda|fundamental incom...|  N√£o|  N√£o|                 N√£o|       N√£o|   N√£o|         N√£o|      N√£o|NULL|          NULL|         NULL|                   NULL|            NULL|                      NULL|       N√£o|          N√£o aplicavel|   N√£o aplicavel|N√£o aplicavel|N√£o aplicavel|
|           02|Rond√¥nia|       Norte|set/2020|  033|30 - 39 anos|  feminino|    parda|fundamental incom...|  N√£o|  N√£o|                 N√£o|       N√£o|   N√£o|         N√£o|      N√£o|NULL|          NULL|         NULL|                   NULL|            NULL|                      NULL|       N√£o|          N√£o aplicavel|   N√£o aplicavel|N√£o aplicavel|N√£o aplicavel|
|           01|Rond√¥nia|       Norte|set/2020|  062|60 - 69 anos| masculino|    parda|       sem instru√ß√£o|  N√£o|  N√£o|                 N√£o|       N√£o|   N√£o|         N√£o|      N√£o|NULL|          NULL|         NULL|                   NULL|            NULL|                      NULL|       N√£o|                    N√£o|   N√£o aplicavel|N√£o aplicavel|N√£o aplicavel|
|           02|Rond√¥nia|       Norte|set/2020|  062|60 - 69 anos|  feminino|    parda|fundamental incom...|  N√£o|  N√£o|                 N√£o|       N√£o|   N√£o|         N√£o|      N√£o|NULL|          NULL|         NULL|                   NULL|            NULL|                      NULL|       N√£o|          N√£o aplicavel|   N√£o aplicavel|N√£o aplicavel|N√£o aplicavel|
|           01|Rond√¥nia|       Norte|set/2020|  056|50 - 59 anos|  feminino|    parda|fundamental incom...|  N√£o|  N√£o|                 N√£o|       N√£o|   N√£o|         N√£o|      N√£o|NULL|          NULL|         NULL|                   NULL|            NULL|                      NULL|       N√£o|          N√£o aplicavel|   N√£o aplicavel|N√£o aplicavel|N√£o aplicavel|
|           02|Rond√¥nia|       Norte|set/2020|  053|50 - 59 anos| masculino|    preto|fundamental incom...|  N√£o|  N√£o|                 N√£o|       N√£o|   N√£o|         N√£o|      N√£o|NULL|          NULL|         NULL|                   NULL|            NULL|                      NULL|       N√£o|                    N√£o|   N√£o aplicavel|N√£o aplicavel|N√£o aplicavel|
|           03|Rond√¥nia|       Norte|set/2020|  017|10 - 19 anos|  feminino|   branca|    m√©dio incompleto|  N√£o|  N√£o|                 N√£o|       N√£o|   N√£o|         N√£o|      N√£o|NULL|          NULL|         NULL|                   NULL|            NULL|                      NULL|       N√£o|          N√£o aplicavel|   N√£o aplicavel|N√£o aplicavel|N√£o aplicavel|
+-------------+--------+------------+--------+-----+------------+----------+---------+--------------------+-----+-----+--------------------+----------+------+------------+---------+----+--------------+-------------+-----------------------+----------------+--------------------------+----------+-----------------------+----------------+-------------+-------------+
only showing top 20 rows

In [34]:
df_final = spark.sql("""
  select
    estado,
    macro_regiao,
    anoMes,
    idade,
    faixa_idade,
    sexo_texto,
    cor_texto,
    escolaridade_texto,
    febre,
    tosse,
    dificuldade_respirar,
    dor_cabeca,
    fadiga,
    dor_muscular,
    Fez_teste,
    SWAB,
    resultado_SWAB,
    coleta_sangue,
    resultado_coleta_sangue,
    exame_veia_braco,
    resultado_exame_veia_braco,
    planoSaude,
    Tem_mais_de_um_trabalho,
    Tipo_de_trabalho,
    SUS_UPA,
    Hospital_sus,
    count(id_entrevista) as quantidade_entrevistados
  from df
  group by all
  """)

df_final.show()

+----------+------------+--------+-----+------------+----------+---------+--------------------+-----+-----+--------------------+----------+------+------------+---------+----+--------------+-------------+-----------------------+----------------+--------------------------+----------+-----------------------+----------------+-------------+-------------+------------------------+
|    estado|macro_regiao|  anoMes|idade| faixa_idade|sexo_texto|cor_texto|  escolaridade_texto|febre|tosse|dificuldade_respirar|dor_cabeca|fadiga|dor_muscular|Fez_teste|SWAB|resultado_SWAB|coleta_sangue|resultado_coleta_sangue|exame_veia_braco|resultado_exame_veia_braco|planoSaude|Tem_mais_de_um_trabalho|Tipo_de_trabalho|      SUS_UPA| Hospital_sus|quantidade_entrevistados|
+----------+------------+--------+-----+------------+----------+---------+--------------------+-----+-----+--------------------+----------+------+------------+---------+----+--------------+-------------+-----------------------+----------------+--------------------------+----------+-----------------------+----------------+-------------+-------------+------------------------+
|Pernambuco|    Nordeste|set/2020|  019|10 - 19 anos|  feminino|   branca|fundamental incom...|  N√£o|  N√£o|                 N√£o|       N√£o|   N√£o|         N√£o|      Sim| Sim|           N√£o|          Sim|                    N√£o|             Sim|                       N√£o|       N√£o|          N√£o aplicavel|   N√£o aplicavel|N√£o aplicavel|N√£o aplicavel|                       1|
|  Rond√¥nia|       Norte|set/2020|  040|40 - 49 anos| masculino|    parda|      m√©dio completo|  N√£o|  N√£o|                 N√£o|       N√£o|   N√£o|         N√£o|      N√£o|NULL|          NULL|         NULL|                   NULL|            NULL|                      NULL|       N√£o|          N√£o aplicavel|   N√£o aplicavel|N√£o aplicavel|N√£o aplicavel|                       2|
|  Rond√¥nia|       Norte|set/2020|  036|30 - 39 anos|  feminino|    parda|      m√©dio completo|  N√£o|  N√£o|                 N√£o|       N√£o|   N√£o|         N√£o|      N√£o|NULL|          NULL|         NULL|                   NULL|            NULL|                      NULL|       N√£o|                    N√£o|   N√£o aplicavel|N√£o aplicavel|N√£o aplicavel|                       2|
|  Rond√¥nia|       Norte|set/2020|  043|40 - 49 anos|  feminino|    parda|   superior completo|  N√£o|  N√£o|                 N√£o|       N√£o|   N√£o|         N√£o|      Sim| N√£o|          NULL|          Sim|                    N√£o|             N√£o|                      NULL|       N√£o|          N√£o aplicavel|   N√£o aplicavel|N√£o aplicavel|N√£o aplicavel|                       1|
|  Rond√¥nia|       Norte|set/2020|  032|30 - 39 anos| masculino|    parda| superior incompleto|  N√£o|  N√£o|                 N√£o|       N√£o|   N√£o|         N√£o|      N√£o|NULL|          NULL|         NULL|                   NULL|            NULL|                      NULL|       N√£o|                    Sim|   N√£o aplicavel|N√£o aplicavel|N√£o aplicavel|                       1|
|  Rond√¥nia|       Norte|set/2020|  002|  0 - 9 anos|  feminino|    preto|       sem instru√ß√£o|  N√£o|  N√£o|                 N√£o|       N√£o|   N√£o|         N√£o|      N√£o|NULL|          NULL|         NULL|                   NULL|            NULL|                      NULL|       N√£o|          N√£o aplicavel|   N√£o aplicavel|N√£o aplicavel|N√£o aplicavel|                       1|
|  Rond√¥nia|       Norte|set/2020|  040|40 - 49 anos|  feminino|    preto|      m√©dio completo|  N√£o|  N√£o|                 N√£o|       N√£o|   N√£o|         N√£o|      N√£o|NULL|          NULL|         NULL|                   NULL|            NULL|                      NULL|       N√£o|          N√£o aplicavel|   N√£o aplicavel|N√£o aplicavel|N√£o aplicavel|                       1|
|  Rond√¥nia|       Norte|set/2020|  043|40 - 49 anos| masculino|    parda|fundamental incom...|  N√£o|  N√£o|                 N√£o|       N√£o|   N√£o|         N√£o|      N√£o|NULL|          NULL|         NULL|                   NULL|            NULL|                      NULL|       N√£o|          N√£o aplicavel|   N√£o aplicavel|N√£o aplicavel|N√£o aplicavel|                       1|
|  Rond√¥nia|       Norte|set/2020|  065|60 - 69 anos|  feminino|  amarelo|fundamental incom...|  N√£o|  N√£o|                 N√£o|       N√£o|   N√£o|         N√£o|      N√£o|NULL|          NULL|         NULL|                   NULL|            NULL|                      NULL|       N√£o|                    N√£o|   N√£o aplicavel|N√£o aplicavel|N√£o aplicavel|                       1|
|  Rond√¥nia|       Norte|set/2020|  045|40 - 49 anos|  feminino|    preto|   superior completo|  N√£o|  N√£o|                 N√£o|       N√£o|   N√£o|         N√£o|      N√£o|NULL|          NULL|         NULL|                   NULL|            NULL|                      NULL|       N√£o|                    N√£o|   N√£o aplicavel|N√£o aplicavel|N√£o aplicavel|                       1|
|  Rond√¥nia|       Norte|set/2020|  066|60 - 69 anos| masculino|    parda|       sem instru√ß√£o|  N√£o|  N√£o|                 N√£o|       N√£o|   N√£o|         N√£o|      N√£o|NULL|          NULL|         NULL|                   NULL|            NULL|                      NULL|       N√£o|          N√£o aplicavel|   N√£o aplicavel|N√£o aplicavel|N√£o aplicavel|                       1|
|  Rond√¥nia|       Norte|set/2020|  033|30 - 39 anos|  feminino|   branca|   superior completo|  N√£o|  N√£o|                 N√£o|       N√£o|   N√£o|         N√£o|      Sim| N√£o|          NULL|          Sim|                    N√£o|             N√£o|                      NULL|       N√£o|                    N√£o|   N√£o aplicavel|N√£o aplicavel|N√£o aplicavel|                       1|
|  Rond√¥nia|       Norte|set/2020|  033|30 - 39 anos| masculino|    preto|      m√©dio completo|  N√£o|  N√£o|                 N√£o|       N√£o|   N√£o|         N√£o|      N√£o|NULL|          NULL|         NULL|                   NULL|            NULL|                      NULL|       N√£o|                    Sim|   N√£o aplicavel|N√£o aplicavel|N√£o aplicavel|                       1|
|  Rond√¥nia|       Norte|set/2020|  026|20 - 29 anos|  feminino|    parda|      m√©dio completo|  N√£o|  N√£o|                 N√£o|       N√£o|   N√£o|         N√£o|      N√£o|NULL|          NULL|         NULL|                   NULL|            NULL|                      NULL|       N√£o|                    Sim|   N√£o aplicavel|N√£o aplicavel|N√£o aplicavel|                       1|
|      Acre|       Norte|set/2020|  021|20 - 29 anos|  feminino|    parda| superior incompleto|  N√£o|  N√£o|                 N√£o|       N√£o|   N√£o|         N√£o|      N√£o|NULL|          NULL|         NULL|                   NULL|            NULL|                      NULL|       Sim|          N√£o aplicavel|   N√£o aplicavel|N√£o aplicavel|N√£o aplicavel|                       2|
|      Acre|       Norte|set/2020|  038|30 - 39 anos| masculino|    preto| superior incompleto|  N√£o|  N√£o|                 N√£o|       N√£o|   N√£o|         N√£o|      Sim| Sim|           Sim|          N√£o|                   NULL|             N√£o|                      NULL|       N√£o|                    N√£o|   N√£o aplicavel|N√£o aplicavel|N√£o aplicavel|                       1|
|      Acre|       Norte|set/2020|  027|20 - 29 anos|  feminino|    preto|fundamental completo|  N√£o|  N√£o|                 N√£o|       N√£o|   N√£o|         N√£o|      N√£o|NULL|          NULL|         NULL|                   NULL|            NULL|                      NULL|       N√£o|          N√£o aplicavel|   N√£o aplicavel|N√£o aplicavel|N√£o aplicavel|                       1|
|      Acre|       Norte|set/2020|  031|30 - 39 anos| masculino|    parda|   superior completo|  N√£o|  N√£o|                 N√£o|       N√£o|   N√£o|         N√£o|      N√£o|NULL|          NULL|         NULL|                   NULL|            NULL|                      NULL|       Sim|                    N√£o|   N√£o aplicavel|N√£o aplicavel|N√£o aplicavel|                       1|
|  Amazonas|       Norte|set/2020|  067|60 - 69 anos| masculino|    parda|fundamental completo|  N√£o|  N√£o|                 N√£o|       N√£o|   N√£o|         N√£o|      N√£o|NULL|          NULL|         NULL|                   NULL|            NULL|                      NULL|       N√£o|                    N√£o|   N√£o aplicavel|N√£o aplicavel|N√£o aplicavel|                       1|
|  Amazonas|       Norte|set/2020|  057|50 - 59 anos|  feminino|   branca|    m√©dio incompleto|  N√£o|  N√£o|                 N√£o|       N√£o|   N√£o|         N√£o|      N√£o|NULL|          NULL|         NULL|                   NULL|            NULL|                      NULL|       N√£o|                    N√£o|   N√£o aplicavel|N√£o aplicavel|N√£o aplicavel|                       1|
+----------+------------+--------+-----+------------+----------+---------+--------------------+-----+-----+--------------------+----------+------+------------+---------+----+--------------+-------------+-----------------------+----------------+--------------------------+----------+-----------------------+----------------+-------------+-------------+------------------------+
only showing top 20 rows

In [35]:
# df.write.csv("/content/Base.csv", header=True)
df_final.coalesce(1).write.mode("overwrite").csv("/content/Base.csv", header=True)

In [36]:
total_pessoas = spark.sql("""
    SELECT count(ID_Entrevista) as Total_entrevistados
    FROM df
    """)

total_pessoas.show()

+-------------------+
|Total_entrevistados|
+-------------------+
|            1149197|
+-------------------+

In [37]:
metrica = spark.sql("""
  with cte as (
    select
      faixa_idade,
      count(id_entrevista) as total_entrevistados
    from df
    group by faixa_idade
  )
  select
    faixa_idade,
    total_entrevistados,
    round((total_entrevistados / sum(total_entrevistados) over()) * 100, 2) as percentual,
    round(
      sum(total_entrevistados) over(order by faixa_idade asc)
      / sum(total_entrevistados) over() * 100,
      2
    ) as percentual_acumulado
  from cte
  order by faixa_idade asc
    """)

metrica.show()

+-----------------+-------------------+----------+--------------------+
|      faixa_idade|total_entrevistados|percentual|percentual_acumulado|
+-----------------+-------------------+----------+--------------------+
|       0 - 9 anos|             135872|     11.82|               11.82|
|     10 - 19 anos|             169782|     14.77|                26.6|
|     20 - 29 anos|             156811|     13.65|               40.24|
|     30 - 39 anos|             168787|     14.69|               54.93|
|     40 - 49 anos|             164350|      14.3|               69.23|
|     50 - 59 anos|             151259|     13.16|               82.39|
|     60 - 69 anos|             112291|      9.77|               92.16|
|     70 - 79 anos|              60819|      5.29|               97.46|
|     80 - 89 anos|              24155|       2.1|               99.56|
|     90 - 99 anos|               4790|      0.42|               99.98|
|Acima de 100 anos|                281|      0.02|               100.0|
+-----------------+-------------------+----------+--------------------+

In [38]:
metrica = spark.sql("""
    with cte as(
      select
        sexo_texto,
        count(ID_Entrevista) as Total_entrevistados
      from df
      group by sexo_texto
    )

    select
      sexo_texto,
      Total_entrevistados,
      round((Total_entrevistados / (sum(Total_entrevistados) OVER()))*100,2) as Percentual
    from cte
    """)

metrica.show()

+----------+-------------------+----------+
|sexo_texto|Total_entrevistados|Percentual|
+----------+-------------------+----------+
| masculino|             550656|     47.92|
|  feminino|             598541|     52.08|
+----------+-------------------+----------+

In [39]:
cor = spark.sql("""
with cte as(
  select
    cor_texto,
    count(ID_Entrevista) as Total_entrevistados
  from df
  group by cor_texto)

select
  cor_texto,
  Total_entrevistados,
  round((Total_entrevistados / (sum(Total_entrevistados) OVER()))*100,2) as Percentual
from cte
order by cor_texto asc

""")

cor.show()

+---------+-------------------+----------+
|cor_texto|Total_entrevistados|Percentual|
+---------+-------------------+----------+
|  amarelo|               6738|      0.59|
|   branca|             479955|     41.76|
| ignorada|                274|      0.02|
| indigena|               4480|      0.39|
|    parda|             563304|     49.02|
|    preto|              94446|      8.22|
+---------+-------------------+----------+

In [40]:
escolaridade = spark.sql("""
with cte as(
  select
    escolaridade_texto,
    count(ID_Entrevista) as Total_entrevistados
  from df
  group by all)

select
  escolaridade_texto,
  Total_entrevistados,
  round((Total_entrevistados / (sum(Total_entrevistados) OVER()))*100,2) as Percentual
from cte
order by escolaridade_texto asc

""")

escolaridade.show()

+--------------------+-------------------+----------+
|  escolaridade_texto|Total_entrevistados|Percentual|
+--------------------+-------------------+----------+
|fundamental completo|              76092|      6.62|
|fundamental incom...|             387986|     33.76|
|      m√©dio completo|             256040|     22.28|
|    m√©dio incompleto|             107635|      9.37|
|p√≥s-gradua√ß√£o, me...|              30290|      2.64|
|       sem instru√ß√£o|             124035|     10.79|
|   superior completo|             107441|      9.35|
| superior incompleto|              59678|      5.19|
+--------------------+-------------------+----------+

In [41]:
metrica = spark.sql("""
  select
    tosse,
    count(ID_Entrevista) as Total_entrevistados
  from df
  group by tosse
""")

metrica.show()

+--------+-------------------+
|   tosse|Total_entrevistados|
+--------+-------------------+
|Ignorado|               3549|
|     N√£o|            1129630|
|     Sim|              15373|
|N√£o sabe|                645|
+--------+-------------------+

In [42]:
metrica = spark.sql("""
select
  anomes,
  tosse,
  count(id_entrevista) as total_entrevistados,
  sum(count(id_entrevista)) over(partition by anomes) as total_mes,
  round(
    count(id_entrevista) * 100.0 / sum(count(id_entrevista)) over(partition by anomes),
    2
  ) as percentual
from df
group by all
order by all
""")

metrica.show()

+--------+--------+-------------------+---------+----------+
|  anomes|   tosse|total_entrevistados|total_mes|percentual|
+--------+--------+-------------------+---------+----------+
|nov/2020|Ignorado|                988|   381438|      0.26|
|nov/2020|     N√£o|             374980|   381438|     98.31|
|nov/2020|N√£o sabe|                211|   381438|      0.06|
|nov/2020|     Sim|               5259|   381438|      1.38|
|out/2020|Ignorado|               1145|   380461|      0.30|
|out/2020|     N√£o|             374527|   380461|     98.44|
|out/2020|N√£o sabe|                215|   380461|      0.06|
|out/2020|     Sim|               4574|   380461|      1.20|
|set/2020|Ignorado|               1416|   387298|      0.37|
|set/2020|     N√£o|             380123|   387298|     98.15|
|set/2020|N√£o sabe|                219|   387298|      0.06|
|set/2020|     Sim|               5540|   387298|      1.43|
+--------+--------+-------------------+---------+----------+